# editor backup files
*~

# temp files
.DS_Store

# ctags
**/tags

# log files
**/logs
*.log

# Jupyter / iPython
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class

# build files
*.d
*.o
*.a

# Some local temporary files
.vscode
*_local.bat
compile_commands.json
tmp/
build/
dbuild/

message.txt
deploy_key
CMakeLists.txt.user

# third party build files
third_party/zlib/*.lo
third_party/zlib/*.so
third_party/zlib/*.so.*
third_party/zlib/include/
third_party/zlib/lib/
third_party/zlib/share/
third_party/zlib/example
third_party/zlib/example64
third_party/zlib/examplesh
third_party/zlib/minigzip
third_party/zlib/minigzip64
third_party/zlib/minigzipsh
third_party/zlib/zconf.h
third_party/zlib/zlib.pc
third_party/zlib/Makefile

# third party build stuff for windows
third_party/zlib/CMakeCache.txt
third_party/zlib/CMakeFiles/
third_party/zlib/cmake_install.cmake
third_party/zlib/example.exe
third_party/zlib/example64.exe
third_party/zlib/libzlib.dll
third_party/zlib/minigzip.exe
third_party/zlib/minigzip64.exe
third_party/zlib/zlib1rc.obj

# more third party stuff
third_party/include/
third_party/lib/
third_party/share/
third_party/tcl8.6.12/unix/Makefile
third_party/tcl8.6.12/unix/autom4te.cache/
third_party/tcl8.6.12/unix/config.status
third_party/tcl8.6.12/unix/dltest/Makefile
third_party/tcl8.6.12/unix/libtcl8.6.so
third_party/tcl8.6.12/unix/pkgs/
third_party/tcl8.6.12/unix/tcl.pc
third_party/tcl8.6.12/unix/tclConfig.sh
third_party/tcl8.6.12/unix/tclsh
third_party/tcl8.6.12/unix/configure
