[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/gtkwave"]
	path = third_party/gtkwave
	url = https://github.com/gtkwave/gtkwave.git
[submodule "third_party/openocd"]
	path = third_party/openocd
	url = https://github.com/RapidSilicon/openocd.git
[submodule "third_party/exprtk"]
	path = third_party/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "third_party/cpython"]
	path = third_party/cpython
	url = https://github.com/python/cpython.git
	branch = 3.10
