# editor backup files
*~

# temp files
.DS_Store

# ctags
**/tags

# log files
**/logs
*.log

# Jupyter / iPython
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class

# build files
*.d
*.o
*.a

# Some local temporary files
.vscode
*_local.bat
tmp/
build/

message.txt
deploy_key
