[submodule "third_party/tcl"]
	path = third_party/tcl
	url = https://github.com/tcltk/tcl
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
