#test_owner:"abdulhameed.akram"
#test_details:"This test performs the raptor compile and simulation"
#test_status:"inactive"
#simulator:""
#stage_id:"4"
#reg_type:"2"
#total_runtime_margin:"20"
#synthesis_runtime_margin:"20"
#packing_runtime_margin:"20"
#placement_runtime_margin:"20"
#routing_runtime_margin:"20"
#time_analysis_runtime_margin:"20"
#bitstream_runtime_margin:"20"
#fmax_clock1_margin:"5"
#registers_margin:"10"
#total_luts_margin:"10"
#brams_margin:"10"
#dsp_margin:"10"
#Adder_Carry_margin:"10"
#CLB_margin:"10"
#LUT_CLB_ratio_margin:"5"
#CLB_percentage_used_margin:"5"
#FLE_Percentage_used_margin:"10"
#Wirelength_Percentage_used_margin:"10"
