/*#COLOR#;MAIN_COLOR=#00bcd4;BTN_HOVER_COLOR=#24d4e0;BTN_PRESSED_COLOR=#0296ad;ITEM_HOVER_COLOR=#cafcf9;ITEM_SELECTED_COLOR=#a2fcf9*/
/**********窗口样式*************/
QWidget
{
	border:1px solid #00bcd4;
	border-radius:0px;	
	background: #FFFFFF;
}


.QFrame{
	border:1px solid #00bcd4;
	border-radius:5px;
}

QLabel{
	border-radius:0px;
	color: #FFFFFF;
	background-color:rgba(0,0,0,0);
	border-style:none;
}

/**********文本编辑框**********/
QTextEdit,QLineEdit {
    border: 1px solid #00bcd4;
	border-radius: 5px;
	padding: 2px;
	background: none;
	selection-background-color: #00bcd4;
}

.QGroupBox{
     border: 1px solid #00bcd4;
     border-radius: 5px;
     margin-top: 3ex; /* leave space at the top for the title */
}

.QGroupBox::title {
 	 subcontrol-origin: margin;
     position: relative;
     left: 10px;
 }
  
.QPushButton{
	border-style: none;
	border: 0px;
	color: #FFFFFF;
	padding: 5px;	
	border-radius:5px;
	background: #00bcd4;
}

.QPushButton:hover{ 
	background: #24d4e0
}

.QPushButton:pressed{ 
	background: #0296ad;
}


.QToolButton{
	border-style: none;
	border: 0px;
	color: #FFFFFF;
	padding: 4px;	
	border-radius:5px;
	background: #00bcd4;
}

.QToolButton:hover{ 
	background: #24d4e0
}

.QToolButton:pressed{ 
	background: #0296ad;
}


QCheckBox {
	spacing: 2px; 
}

QCheckBox::indicator, QTableView::indicator, QListView::indicator, QTreeView::indicator, QGroupBox::indicator {
	width: 20px;
	height: 20px;
}

QRadioButton {
	spacing: 2px;
}

QRadioButton::indicator {
	width: 15px; 
	height: 15px; 
}

QComboBox,QDateEdit,QDateTimeEdit,QTimeEdit,QDoubleSpinBox,QSpinBox{
	border-radius: 3px;
	padding: 1px 5px 1px 5px;
	border: 1px solid #00bcd4;
	selection-background-color: #00bcd4;
}

QComboBox::drop-down,QDateEdit::drop-down,QDateTimeEdit::drop-down,QTimeEdit::drop-down,QDoubleSpinBox::drop-down,QSpinBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 15px; 
	border-left-width: 1px;
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left-color: #00bcd4;
}

QTimeEdit::up-button,QDateEdit::up-button,QDateTimeEdit::up-button,QDoubleSpinBox::up-button,QSpinBox::up-button{
	image: url(:/Skin/img/array_up.png); 
	width:10px;
	height:10px;
	padding:0px 3px 0px 0px;
}

QTimeEdit::down-button,QDateEdit::down-button,QDateTimeEdit::down-button,QDoubleSpinBox::down-button,QSpinBox::down-button{
	image: url(:/Skin/img/array_down.png); 
	width:10px;
	height:10px;
	padding:0px 3px 0px 0px;
}

/**********菜单栏**********/
QMenuBar {
        background: #cafcf9;
        border: 1px solid #00bcd4;
        border-left: none;
        border-right: none;
		border-top: none;
}
QMenuBar::item {
        border: 1px solid transparent;
        padding: 5px 10px 5px 10px;
        background: transparent;
}
QMenuBar::item:enabled {
        color: #000000;
}
QMenuBar::item:!enabled {
        color: rgb(155, 155, 155);
}
QMenuBar::item:enabled:selected {
        background: #a2fcf9; 
}

QMenu {
	background-color:#FFFFFF;
	/*margin: 2px;*/
	border: 1px solid #00bcd4;
}

QMenu::item {	
	padding: 2px 20px 2px 20px;
}

QMenu::indicator {
	width: 13px;
	height: 13px;
}

QMenu::item:selected {
	color: #FFFFFF;
	background: #00bcd4;
}

QMenu::separator {
	height: 1px;
	background: #00bcd4;
}

QProgressBar {
	border-radius: 5px;
	text-align: center;
	border: 1px solid #00bcd4;
}

QProgressBar::chunk {
	width: 5px; 
	margin: 0.5px;
	background-color: #00bcd4;
}

QSlider::groove:horizontal,QSlider::add-page:horizontal { 
	background: #D9D9D9; 
	height: 8px; 
	border-radius: 3px; 
}

QSlider::sub-page:horizontal {
	height: 8px; 
	border-radius: 3px;
	background: #00bcd4;
}

QSlider::handle:horizontal {
	width: 13px; 
	margin-top: -3px; 
	margin-bottom: -3px; 
	border-radius: 6px;
	background: #00bcd4;
}

QSlider::handle:horizontal:hover {
	background: #0296ad;
}

QSlider::groove:vertical,QSlider::sub-page:vertical {
	background:#D9D9D9; 
	width: 8px; 
	border-radius: 3px;
}

QSlider::add-page:vertical {
	width: 8px;
	border-radius: 3px;
	background: #00bcd4;
}

QSlider::handle:vertical {
	height: 14px; 
	margin-left: -3px;
	margin-right: -3px;
	border-radius: 6px;
	background: #00bcd4;
}

QSlider::handle:vertical:hover {
	background: #0296ad;
}

QScrollBar:vertical {
	width:10px; 
	background-color:rgba(0,0,0,0); 
	padding-top:10px; 
	padding-bottom:10px;
}

QScrollBar:horizontal {
	height:10px; 
	background-color:rgba(0,0,0,0); 
	padding-left:10px; 
	padding-right:10px;
}

QScrollBar::handle:vertical {
	width:10px;
	background: #00bcd4;
	border-radius:4px;
	min-height:50px;
}

QScrollBar::handle:horizontal {
	height:10px;
	background: #00bcd4;
	min-width:50px;
	border-radius:4px;
}

QScrollBar::handle:vertical:hover {
	width:10px;
	background: #0296ad;
}

QScrollBar::handle:horizontal:hover {
	height:10px;
	background: #0296ad; 
}

QScrollBar::add-line:vertical {
	height:10px;
	width:10px;
	subcontrol-position: bottom; 
	subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
	height:10px;
	width:10px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	height:10px;
	width:10px;
	subcontrol-position: top; 
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	height:10px;
	width:10px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical {
	width:10px;
	background: #D9D9D9;
}

QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal {
	height:10px;
	background: #D9D9D9;
}

QScrollArea {
	border: 0px ; 
}

QTreeView,QListView,QTableView{
	border: 1px solid #00bcd4; 
	selection-background-color: #00bcd4;
	outline:0px;
}

QTableView::item:selected, QListView::item:selected, QTreeView::item:selected {
	color: #000000;
	background: #a2fcf9; 
}

QTableView::item:hover, QListView::item:hover, QTreeView::item:hover {
	color: #000000;
	background: #cafcf9;
}

QTableView::item, QListView::item, QTreeView::item {
	padding: 5px; 
	margin: 0px; 
}

QHeaderView::section {
	padding:3px;
	margin:0px;
	color:#FFFFFF;
	border: 1px solid #F0F0F0;
	background: #00bcd4; 
}

QTabBar::tab{
	min-width: 80px;
	min-height: 25px;

	color:#000000;
	margin-right:1px;
	border: 1px solid #D9D9D9;
	border-left: none;
	border-right: none;
	border-top: none;
	background:#FFFFFF;
}

QTabBar::tab:selected,QTabBar::tab:hover{
	border-style:solid;
	border-color:#00bcd4;
}

QTabBar::tab:top,QTabBar::tab:bottom{
	padding:3px 8px 3px 8px;
}

QTabBar::tab:left,QTabBar::tab:right{
	padding:8px 3px 8px 3px;
}

QTabBar::tab:top:selected,QTabBar::tab:top:hover{
	border-width:2px 0px 0px 0px;
}

QTabBar::tab:right:selected,QTabBar::tab:right:hover{
	border-width:0px 0px 0px 2px;
}

QTabBar::tab:bottom:selected,QTabBar::tab:bottom:hover{
	border-width:0px 0px 2px 0px;
}

QTabBar::tab:left:selected,QTabBar::tab:left:hover{
	border-width:0px 2px 0px 0px;
}

QTabBar::tab:top:selected,QTabBar::tab:top:hover,QTabBar::tab:bottom:selected,QTabBar::tab:bottom:hover{
	border-left-width:1px;
	border-left-color:#D9D9D9;
	border-right-width:1px;
	border-right-color:#D9D9D9;
}

QTabBar::tab:first:top:selected,QTabBar::tab:first:top:hover,QTabBar::tab:first:bottom:selected,QTabBar::tab:first:bottom:hover{
	border-left-width:1px;
	border-left-color:#D9D9D9;
	border-right-width:1px;
	border-right-color:#D9D9D9;
}

QTabBar::tab:first:left:selected,QTabBar::tab:first:left:hover,QTabBar::tab:first:right:selected,QTabBar::tab:first:right:hover{
	border-top-width:1px;
	border-top-color:#D9D9D9;
	border-bottom-width:1px;
	border-bottom-color:#D9D9D9;
}

QTabBar::tab:last:top:selected,QTabBar::tab:last:top:hover,QTabBar::tab:last:bottom:selected,QTabBar::tab:last:bottom:hover{
	border-left-width:1px;
	border-left-color:#D9D9D9;
	border-right-width:1px;
	border-right-color:#D9D9D9;
}

QTabBar::tab:last:left:selected,QTabBar::tab:last:left:hover,QTabBar::tab:last:right:selected,QTabBar::tab:last:right:hover{
	border-top-width:1px;
	border-top-color:#D9D9D9;
	border-bottom-width:1px;
	border-bottom-color:#D9D9D9;
}

QStatusBar::item {
     border: 1px solid #00bcd4;
     border-radius: 3px;
}
