name: 'main'

on:
  push:
  pull_request:

jobs:
  linux-gcc:
    name: ${{ matrix.mode }}

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        mode:
        - test
        - regression
        - coverage
        - install
        - valgrind
    env:
      MODE: ${{ matrix.mode }}

    steps:

    - name: Cancel previous
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      run: |
        bash .github/workflows/install_ubuntu_dependencies_build.sh

    - name: Use ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: linux-${{ matrix.mode }}

    - name: Configure shell
      run: |
        echo 'CC=gcc-9' >> $GITHUB_ENV
        echo 'CXX=g++-9' >> $GITHUB_ENV
        echo 'PATH=/usr/lib/ccache:'"$PATH" >> $GITHUB_ENV
        echo 'PREFIX=/tmp/foedag-install' >> $GITHUB_ENV
        echo "ADDITIONAL_CMAKE_OPTIONS='-DMY_CXX_WARNING_FLAGS="-W -Wall -Wextra -Wno-unused-parameter -Wno-unused-variable -Werror -UNDEBUG"'" >> $GITHUB_ENV
        echo 'RULE_MESSAGES=off' >> $GITHUB_ENV

    - name: Show shell configuration
      run: |
        env
        which cmake && cmake --version
        which make && make --version
        which swig && swig -version
        which python && python --version
        which ninja && ninja --version
        which tclsh && echo 'puts [info patchlevel];exit 0' | tclsh
        which $CC && $CC --version
        which $CXX && $CXX --version

    - name: Test
      if: matrix.mode == 'test'
      run: |
        make debug test/unittest-d
        make test/gui

    - name: Regression
      if: matrix.mode == 'regression'
      run: |
        make regression

    - name: Coverage
      if: matrix.mode == 'coverage'
      run: |
        make debug coverage-build/foedag.coverage

    - name: Valgrind
      if: matrix.mode == 'valgrind'
      run: |
        make debug
        make test/valgrind

    - name: Upload coverage
      # will show up under https://app.codecov.io/gh/os-fpga/FOEDAG
      if: matrix.mode == 'coverage'
      uses: codecov/codecov-action@v2
      with:
        files: coverage-build/foedag.coverage
        fail_ci_if_error: false

    - name: Install Test
      if: matrix.mode == 'install'
      run: |
        make release
        make install
        make clean   # make sure we only see installation artifacts
        make test_install

    - name: Archive regression artifacts
      if: matrix.mode == 'regression' && always()
      uses: actions/upload-artifact@v2
      with:
        name: foedag-linux-gcc-regression
        path: |
          ${{ github.workspace }}/build/test/
          ${{ github.workspace }}/build/tests/

# Reference: https://github.com/eyllanesc/69108420/blob/main/.github/workflows/test.yml
  msys2-gcc:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:

    - name: Cancel previous
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - name: Configure Git
      run: git config --global core.autocrlf input
      shell: bash

    - name: Git pull
      uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install core dependencies
      run: choco install -y swig --side-by-side --version=3.0.12
      shell: powershell

#    - name: Setup Msys2 basic tools
#      uses: msys2/setup-msys2@v2
#      with:
#        install: mingw-w64-x86_64-toolchain
#        msystem: mingw64
#        release: false

    - name: Setup Msys2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MSYS
#        msystem: mingw64
        update: true
        install: make cmake ninja python python-devel gcc git diffutils
#        install: make ninja python python-devel gcc git diffutils mingw-w64-x86_64-cmake, mingw-w64-x86_64-toolchain, mingw-w64-x86_64-qt5-static}
#        install: ninja python-devel git diffutils
        release: false
      env:
        MSYS2_PATH_TYPE: inherit

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: "5.15.2"
        host: "windows"
        target: "desktop"
        dir: "${{github.workspace}}/qt/"
#        arch: "x86_64"
        install-deps: "true"

    - name: Configure shell environment variables
      run: |
        export SWIG_DIR=/c/ProgramData/chocolatey/lib/swig/tools/install/swigwin-3.0.12
        export Qt5_DIR=$Qt5_Dir
        #export Qt5_DIR=D:/a/_temp/msys64/mingw64/qt5-static
        export CWD=`pwd`

        echo "Qt5_DIR=$Qt5_DIR" >> $GITHUB_ENV
        echo "SWIG_DIR=$SWIG_DIR" >> $GITHUB_ENV
        echo 'CMAKE_GENERATOR=Ninja' >> $GITHUB_ENV
        echo 'CC=gcc' >> $GITHUB_ENV
        echo 'CXX=g++' >> $GITHUB_ENV
        echo 'NO_TCMALLOC=On' >> $GITHUB_ENV
        echo "PREFIX=$CWD/install" >> $GITHUB_ENV

        echo "$Qt5_DIR" >> $GITHUB_PATH
        echo "$SWIG_DIR" >> $GITHUB_PATH

    - name: Show shell configuration
      run: |
        export PATH=$SWIG_DIR:$PATH
        env
        where git && git --version
        where cmake && cmake --version
        where make && make --version
        where swig && swig -version
        where python && python --version
        where ninja && ninja --version
        where tclsh && echo 'puts [info patchlevel];exit 0' | tclsh
        where $CC && $CC --version
        where $CXX && $CXX --version

    - name: Build
      env:
        CMAKE_PREFIX_PATH: ${{env.Qt5_DIR}}
      run: |
        export PATH=$SWIG_DIR:$PATH
        export Qt5_DIR=$Qt5_Dir
        export PATH=$Qt5_DIR:$PATH
        #export Qt5_DIR=D:/a/_temp/msys64/mingw64/qt5-static
        make release ADDITIONAL_CMAKE_OPTIONS=-DCMAKE_PREFIX_PATH="D:/a/FOEDAG/FOEDAG/qt/Qt/5.15.2/mingw73_64/lib/cmake"
        make debug ADDITIONAL_CMAKE_OPTIONS=-DCMAKE_PREFIX_PATH="D:/a/FOEDAG/FOEDAG/qt/Qt/5.15.2/mingw73_64/lib/cmake"
        make install

    - name: Test
      env:
        CMAKE_PREFIX_PATH: ${{env.Qt5_DIR}}
      run: |
        export PATH=$SWIG_DIR:$PATH
        make test_install
        make test/unittest
        make regression

  windows-msvc:
    runs-on: windows-latest

    defaults:
      run:
        shell: cmd

    steps:

    - name: Cancel previous
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - name: Install Core Dependencies
      run: |
        choco install -y make
        choco install -y swig --side-by-side --version=3.0.12

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        architecture: x64

    - name: Install Qt
      uses: jurplel/install-qt-action@v2

    - run: git config --global core.autocrlf input
      shell: bash

    - uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Build & Test
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"

        set CMAKE_GENERATOR=Ninja
        set CC=cl
        set CXX=cl
        set NO_TCMALLOC=On
        set PREFIX=%GITHUB_WORKSPACE%\install
        set CPU_CORES=%NUMBER_OF_PROCESSORS%

        set MAKE_DIR=C:\make\bin
        #set TCL_DIR=%PROGRAMFILES%\Git\mingw64\bin
        set SWIG_DIR=%PROGRMDATA%\chocolatey\lib\swig\tools\install\swigwin-3.0.12
        set PATH=%pythonLocation%;%SWIG_DIR%;%MAKE_DIR%;%PATH%
        #set PATH=%pythonLocation%;%SWIG_DIR%;%MAKE_DIR%;%TCL_DIR%;%PATH%

        set
        where cmake && cmake --version
        where make && make --version
        where swig && swig -version
        where python && python --version
        where ninja && ninja --version

        make release
        if %errorlevel% neq 0 exit /b %errorlevel%
        make install
        if %errorlevel% neq 0 exit /b %errorlevel%
        make test/unittest
        if %errorlevel% neq 0 exit /b %errorlevel%
        make test_install
        if %errorlevel% neq 0 exit /b %errorlevel%
        make regression

    - name: Archive build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: foedag-windows-msvc
        path: ${{ github.workspace }}/install

    - name: Archive regression artifacts
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: foedag-windows-msvc-regression
        path: |
          ${{ github.workspace }}/build/test/
          ${{ github.workspace }}/build/tests/

  macos-gcc:
    runs-on: macos-latest

    steps:

    - name: Cancel previous
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      uses: jurplel/install-qt-action@v2

    - name: Use ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: macos-gcc

    - name: Configure shell
      run: |
        echo 'CC=gcc-9' >> $GITHUB_ENV
        echo 'CXX=g++-9' >> $GITHUB_ENV
        echo "PATH=$(brew --prefix)/opt/ccache/libexec:$PATH" >> $GITHUB_ENV
        echo 'PREFIX=/usr/local' >> $GITHUB_ENV

    - name: Show shell configuration
      run: |
        env
        which cmake && cmake --version
        which make && make --version
        which swig && swig -version
        which python && python --version
        which tclsh && echo 'puts [info patchlevel];exit 0' | tclsh
        which $CC && $CC --version
        which $CXX && $CXX --version

    - name: Build
      run: |
        make release
        sudo make install

    - name: Unit tests
      run: |
        make test_install

    - name: Regression tests
      run: |
        make regression

  macos-clang:
    runs-on: macos-latest

    steps:

    - name: Cancel previous
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      uses: jurplel/install-qt-action@v2

    - uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Use ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: macos-clang

    - name: Configure shell
      run: |
        echo 'PREFIX=/usr/local' >> $GITHUB_ENV
        echo "PATH=$(brew --prefix)/opt/ccache/libexec:$PATH" >> $GITHUB_ENV

    - name: Show shell configuration
      run: |
        env
        which cmake && cmake --version
        which make && make --version
        which swig && swig -version
        which python && python --version
        which tclsh && echo 'puts [info patchlevel];exit 0' | tclsh

    - name: Build
      run: |
        make release
        sudo make install

    - name: Unit tests
      run: |
        make test_install
        make test/unittest
        make XVFB="Xvfb :1337 & export DISPLAY=:1337 &" debug test/gui

    - name: Regression tests
      run: |
        make regression

  CodeFormatting:
    runs-on: ubuntu-20.04

    steps:

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install Dependencies
      run: |
        sudo apt-get install clang-format
        clang-format --version

    - name: Run formatting style check
      run: ./.github/bin/run-clang-format.sh

  ClangTidy:
    runs-on: ubuntu-20.04
    if: ${{github.event_name == 'pull_request'}}

    steps:

    - name: Cancel previous
      uses: styfle/cancel-workflow-action@0.8.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install Dependencies
      run: |
        sudo apt-get update -qq
        sudo apt -qq -y install clang-tidy-12 \
                                g++-9 tclsh  default-jre cmake \
                                uuid-dev build-essential xorg \
                                qtbase5-dev qtchooser qt5-qmake qtbase5-dev-tools xvfb

    - name: Use ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: clang-tidy-codegen

    - name: Configure shell
      run: |
        echo 'PATH=/usr/lib/ccache:'"$PATH" >> $GITHUB_ENV
        echo 'RULE_MESSAGES=off' >> $GITHUB_ENV

    - name: Prepare source
      run: |
        make run-cmake-release
        ln -s build/compile_commands.json .

    - name: Run clang tidy
      run: |
        ./.github/bin/run-clang-tidy.sh
